# Supabase 配置
# ⚠️ 不要将此文件提交到 Git！添加到 .gitignore
NEXT_PUBLIC_SUPABASE_URL=https://uqmcipazqilxjliennfe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_G4BmqB2W4LEYrzp7sgOfSg_TUh6morm

# Cloudflare（后续配置）
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
